
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="mat-elevation-z8">

  <div fxFlex="50">
    <mat-card  class="mat-elevation-z8">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards" *ngIf="isallIndiaDataAvailable" >

        <div fxFlex="40">
          <img [src]="onlyIndiaApiData[0].flag" height="100%" width="100%"/>
        </div>

        <div class="widget" fxFlex="60">
          <table class="normalTable">
            <tr>
              <td>Total Cases</td>
              <td>{{onlyIndiaApiData[0].cases}}</td>
            </tr>
            <tr>
              <td>Todays Cases</td>
              <td>{{onlyIndiaApiData[0].todayCases}}</td>
            </tr>
            <tr>
              <td>Total Deaths</td>
              <td>{{onlyIndiaApiData[0].deaths}}</td>
            </tr>
            <tr>
              <td>Todays Deaths</td>
              <td>{{onlyIndiaApiData[0].todayDeaths}}</td>
            </tr>
            <tr>
              <td>Total Recovered</td>
              <td>{{onlyIndiaApiData[0].recovered}}</td>
            </tr>
            <tr>
              <td>Total active</td>
              <td>{{onlyIndiaApiData[0].active}}</td>
            </tr>
            <tr>
              <td>Todays Tests</td>
              <td>{{onlyIndiaApiData[0].tests}}</td>
            </tr>
            <tr>
              <td>Indias Population</td>
              <td>{{onlyIndiaApiData[0].population}}</td>
            </tr>
            <tr>
              <td>One Case Per People</td>
              <td>{{onlyIndiaApiData[0].oneCasePerPeople}}</td>
            </tr>
            <tr>
              <td>One Death Per People</td>
              <td>{{onlyIndiaApiData[0].oneDeathPerPeople}}</td>
            </tr>
            <tr>
              <td>One Test Per People</td>
              <td>{{onlyIndiaApiData[0].oneTestPerPeople}}</td>
            </tr>

          </table>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxFlex="50" *ngIf="isstateWiseIndiaDataAvailable">
    <mat-card  class="mat-elevation-z8">
      <app-widget-pie [data]="coronaIndiadPieApiData" [pieTitle]="pieTitle"></app-widget-pie>
    </mat-card>
   </div>

</div>
<br>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="100" class="mat-elevation-z8">
  <div *ngIf="isIndiaTimeseriesApiDataAvaialable">
    <app-twoseries-area [series1]="coronaCasesIndiaBigChartApiData" [series2]="coronadDeathsIndiaBigChartApiData" [title]="chartCasesAndDeathsTitle"></app-twoseries-area>
  </div>
  </div>
</div>
<br>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="mat-elevation-z8">
  <div fxFlex="100">
      <div class="mat-elevation-z8">

          <mat-form-field style="padding-left: 22px;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Maharashtra" #input>
          </mat-form-field>

          <table mat-table [dataSource]="dataSource" *ngIf="isstateWiseIndiaDataAvailable" matSort >

              <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>State Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>

              <ng-container matColumnDef="cases">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Cases</th>
                  <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
              </ng-container>

              <ng-container matColumnDef="todayCases">
                  <th mat-header-cell *matHeaderCellDef>Todays Cases</th>
                  <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
              </ng-container>

              <ng-container matColumnDef="deaths">
                <th mat-header-cell *matHeaderCellDef>Deaths</th>
                <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
              </ng-container>

              <ng-container matColumnDef="todayDeaths">
                <th mat-header-cell *matHeaderCellDef>Todays Deaths</th>
                <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
              </ng-container>

              <ng-container matColumnDef="recovered">
                <th mat-header-cell *matHeaderCellDef>Recovered</th>
                <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
              </ng-container>

              <ng-container matColumnDef="todayRecovered">
                <th mat-header-cell *matHeaderCellDef>Todays Recovered</th>
                <td mat-cell *matCellDef="let element"> {{element.todayRecovered}} </td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Active</th>
                <td mat-cell *matCellDef="let element"> {{element.active}} </td>
              </ng-container>

              <ng-container matColumnDef="todayActive">
                <th mat-header-cell *matHeaderCellDef>Todays Active</th>
                <td mat-cell *matCellDef="let element"> {{element.todayActive}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>

  </div>
</div>
<br>
<br>
