<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Ajinkya Shinde</h2>
            <h4>ajinkyashinde15@gmail.com</h4>
        </div>
        <img src="../../../../assets/profileicon.jfif" alt="Ajinkya Shinde">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Dashboards</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>language</mat-icon>
      World
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
      <mat-icon>account_circle</mat-icon>
      India
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>home</mat-icon>
      Maharashtra
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
      <mat-icon>android</mat-icon>
      Solapur
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
