<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Ajinkya Shinde</h2>
            <h4>ajinkyashinde15@gmail.com</h4>
        </div>
        <img src="../../../../assets/profileicon.jfif" alt="Ajinkya Shinde">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>COVID-19 Dashboards</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>language</mat-icon>
      World
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/indiadashboard">
      <mat-icon>home</mat-icon>
      India
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/mumbaidashboard">
      <mat-icon>location_city</mat-icon>
      Mumbai
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>analytics</mat-icon>
      COVID-19 Forcast
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Contacts
    </a>

</mat-nav-list>
