<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="100" class="mat-elevation-z8">
  <div *ngIf="isallWorldChartCasesDataAvailable">
    <app-twoseries-area [series1]="coronaCasesWorldBigChartApiData" [series2]="coronadDeathsWorldBigChartApiData" [title]="chartCasesAndDeathsTitle"></app-twoseries-area>
  </div>
  </div>
</div>
<br>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

  <div fxFlex="50">
    <div class="mat-elevation-z8">
      <div *ngIf="isWorldChartCasesDataAvailable">
        <app-widget-area [chartType]="chartType" [data]="coronacasesBigChart" [title]="chartCasesTitle" [categories]="monthList"></app-widget-area>
      </div>
    </div>
  </div>

  <div fxFlex="50">
    <div class="mat-elevation-z8">
      <div *ngIf="isWorldChartCasesDataAvailable">
        <app-widget-area [chartType]="chartType" [data]="coronaDeathsBigChart" [title]="chartDeathTitle" [categories]="monthList"></app-widget-area>
      </div>
    </div>
  </div>

</div>


<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards" *ngIf="isallWorldChartCasesDataAvailable" >
    <mat-card fxFlex="20" class="mat-elevation-z8">
        <app-widget-card label="Total Corona Cases" [total]="_worldAreaCardTotalCases" [percentage]="_percentageCases" [data]="_worldAreaCardDataApiforCases"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="20" class="mat-elevation-z8">
        <app-widget-card label="Total Corona Deaths" [total]="_worldAreaCardTotalDeaths" [percentage]="_percentageDeaths" [data]="_worldAreaCardDataApiforDeaths"></app-widget-card>
    </mat-card>

    <div class="mat-elevation-z8" fxFlex="60" *ngIf="isallWorldPieDataAvailable">
      <app-widget-pie [data]="coronadworldPieApiData" [pieTitle]="pieTitle"></app-widget-pie>
  </div>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">

            <mat-form-field style="padding-left: 22px;">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. India" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" *ngIf="isallWorldTableDataAvailable" matSort >

                <ng-container matColumnDef="Flag">
                  <th mat-header-cell *matHeaderCellDef >Flag</th>
                  <td mat-cell *matCellDef="let element">  <img [src]="element.flag" height="35" width="35"/>  </td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="Total_Cases">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cases</th>
                    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
                </ng-container>

                <ng-container matColumnDef="Todays_Cases">
                    <th mat-header-cell *matHeaderCellDef>Todays Cases</th>
                    <td mat-cell *matCellDef="let element"> {{element.todaycases}} </td>
                </ng-container>

                <ng-container matColumnDef="Total_Deaths">
                  <th mat-header-cell *matHeaderCellDef>Deaths</th>
                  <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
                </ng-container>

                <ng-container matColumnDef="Todays_Deaths">
                  <th mat-header-cell *matHeaderCellDef>Todays Deaths</th>
                  <td mat-cell *matCellDef="let element"> {{element.todaydeaths}} </td>
                </ng-container>

                <ng-container matColumnDef="Total_Recovered">
                  <th mat-header-cell *matHeaderCellDef>Recovered</th>
                  <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
                </ng-container>

                <ng-container matColumnDef="Todays_Recovered">
                  <th mat-header-cell *matHeaderCellDef>Todays Recovered</th>
                  <td mat-cell *matCellDef="let element"> {{element.todayrecovered}} </td>
                </ng-container>

                <ng-container matColumnDef="Total_Active">
                  <th mat-header-cell *matHeaderCellDef>Active</th>
                  <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                </ng-container>

                <ng-container matColumnDef="Cases Per One Million">
                  <th mat-header-cell *matHeaderCellDef>Cases \ Million</th>
                  <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
                </ng-container>

                <ng-container matColumnDef="Deaths Per One Million">
                  <th mat-header-cell *matHeaderCellDef>Deaths \ Million</th>
                  <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
                </ng-container>

                <ng-container matColumnDef="Active Per One Million">
                  <th mat-header-cell *matHeaderCellDef>Active \ Million</th>
                  <td mat-cell *matCellDef="let element"> {{element.activePerOneMillion}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
        </div>

    </div>
</div>

<br>
<br>
<br>
